* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #000;
  color: #eee;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  text-align: left;
  padding: 20px;
  padding-top:10px;
  padding-left:5px;
  padding-right:5px;
  font-size: 28px;
  letter-spacing: 3px;
  background: #0d0d0d;
  border-bottom: 1px solid #222;
  color: #ffd000;
}

.top-movies {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 30px;
}

.top-movies img {
  width: 250px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
}
.top-movies img:hover {
  transform: scale(1.05);
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.about {
  margin-bottom: 40px;
}

.about h2 {
  margin-bottom: 10px;
  color: #ffd000;
}

.search-box input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #0e0e0e;
  color: #fff;
  margin-bottom: 20px;
}

.filter summary {
  cursor: pointer;
  padding: 10px;
  background: #111;
  border-radius: 8px;
  color: #ffd000;
  padding-top:10px;
  padding-right:7px;
  padding-left:7px;
}

.filter ul {
  list-style: none;
  padding: 10px;
}

.filter li {
  padding: 5px 0;
}

.section-title {
  margin: 30px 0 20px;
  color: #ffd000;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.movie-card {
  background: #111;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #222;
}

.movie-card h3 {
  margin: 10px 0;
}

.desc {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: #ffd000;
  color: #000;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #ffea60;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  background: #0d0d0d;
  color: #777;
}

@media (max-width: 768px) {
  .top-movies {
    flex-direction: column;
    align-items: center;
  }
}



